<a href="https://colab.research.google.com/github/Location-Artistry/GEO-DEV-NOTEBOOKS/blob/main/SOCRATA-CRAWLER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python Search Script**
## Utilize Beautiful Soup4 and Google Libraries to search state websites
### Explore which Geospatial data storage systems states are utilizing

In [8]:
#!pip install beautifulsoup4
#!pip install google
from googlesearch import search 
import pandas as pd
!pip install git+https://github.com/abenassi/Google-Search-API
from googleapi import google

In [25]:
abrv = ['AL', 'AK','AS', 'AZ', 'AR','CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'GU', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME', 'MI', 'MN', 'MO', 'MP', 'MS', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'MP','OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'VI', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY']

In [26]:
stateList = ['Alabama', 'Alaska', 'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'District of Columbia', 'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Minor Outlying Islands', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Northern Mariana Islands', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'U.S. Virgin Islands', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming']
# stateList = ['Alabama', 'Alaska', 'American Samoa', 'Arizona']

In [ ]:
for i, z in enumerate(stateList):
  print(f'State: {abrv[i]} - {z}')

In [31]:
q = "Socrata open data"
df = pd.DataFrame(columns = ['STATE','RANK','URL'])
for x,state in enumerate(stateList):
  print(state,abrv[x])
  for z,i in enumerate(search((f'{state} {abrv[x]} {q}'), tld="com", num=3, stop=3, pause=2)):
    df.loc[len(df.index)] = [abrv[x],z,i]

Alabama AL
Alaska AK
American Samoa AS
Arizona AZ
Arkansas AR
California CA
Colorado CO
Connecticut CT
Delaware DE
District of Columbia DC
Florida FL
Georgia GA
Guam GU
Hawaii HI
Idaho ID
Illinois IL
Indiana IN
Iowa IA
Kansas KS
Kentucky KY
Louisiana LA
Maine MA
Maryland MD
Massachusetts ME
Michigan MI
Minnesota MN
Minor Outlying Islands MO
Mississippi MP
Missouri MS
Montana MT
Nebraska NE
Nevada NV
New Hampshire NH
New Jersey NJ
New Mexico NM
New York NY
North Carolina NC
North Dakota ND
Northern Mariana Islands MP
Ohio OH
Oklahoma OK
Oregon OR
Pennsylvania PA
Puerto Rico PR
Rhode Island RI
South Carolina SC
South Dakota SD
Tennessee TN
Texas TX
U.S. Virgin Islands VI
Utah UT
Vermont VT
Virginia VA
Washington WA
West Virginia WV
Wisconsin WI
Wyoming WY

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 171 entries, 0 to 170
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   STATE   171 non-null    object
 1   RANK    171 non-null    object
 2   URL     171 non-null    object
dtypes: object(3)
memory usage: 5.3+ KB

In [42]:
df.head()

  STATE RANK                                                URL
0    AL    0                   https://www.opendatanetwork.com/
1    AL    1  https://uspto.data.commerce.gov/w/apaj-dzmw/de...
2    AL    2         https://data-algeohub.opendata.arcgis.com/
3    AK    0                             https://data.muni.org/
4    AK    1          https://data-soa-dnr.opendata.arcgis.com/

In [43]:
df.to_csv('SOCRATA-STATES.csv',encoding='utf-8')

In [ ]:
# Site with nice pre-made lists of all US states separated by commas
https://sceptermarketing.com/comma-separated-lists-of-us-states-abbreviations-select-options-etc/
# Open Data Network, Socrata compilation of states and regions!
https://www.opendatanetwork.com/
# Links of all states Open Data Portals!
http://www.harker.com/OpenData/socrata-data-portals.html